html, * {
    margin: 0;
    padding: 0;
}

header {
    height: 15vh;
    width: 100%;
    line-height: 15vh;
    text-align: center;
}

h1 {
    font-size: 4vw;
    text-decoration: underline;
}

main {
    height: 100%;
    width: 100%;
    margin: 10px 0 0 0;
}

form {
    border: 1px solid rgb(190, 189, 189);
    width: 60vw;
    height: 100%;
    border-radius: 8px;
    margin: auto;
    position: relative;
}

label {
    display: block;
    margin: 0 0 0 15%;
    padding: 5px 0 0 0;
    font-size: 16px;
}

::-webkit-input-placeholder { 
    color: #000000; 
    font-style: italic;
    font-size: 12px;
}

input, select {
    margin: 0 0 0 15%;
    width: 40vw;
    height: 3vh;
}
select {
    height: 4vh;
    width: 40.3vw;
}
#perecivel {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0;
}

#label-perecivel, input[type='checkbox'], #medidadeUnidade, #quantidade {
    display: inline-block;
}

#label-validade , #validade {
    display: none;
}

#quantidade , #preco {
    text-align: right;
}

.msg-erro {
    display: block;
    font-size: 16px;
    color:#ff1717;
    margin: 0 0 0 15%;
    padding: 0;
}

#cadastrar{
    display: inline-block;
    margin: 1% 0 1% 15%;
    text-decoration: none;
    text-align: center;
    border: 2px solid #0077ff;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    background-color:  #0077ff;
    color: #ffffff;
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}

#cadastrar:hover{
    background: #073b77;
    border: 2px solid #0077ff;
}

#cancelar {
    display: inline-block;
    margin: 1% 0 1% 41%;
    text-align: center;
    border: 2px solid #fc1b1b;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    background-color:  #fc1b1b;
    color: #ffffff;
    width: 100px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
}

#cancelar:hover{
    background: #ff5100;
    border: 2px solid #ff4800;
}

.modal {
    position: fixed;
    /*Definindo a posição como zero para ocupar toda a tela */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*Define a cor e a opacidade*/
    background: rgb(0, 0, 0, 0.9);
    /*Definir o z-index para que a caixa modal fique por cima de tudo*/
    z-index: 99999;
    /*Só irá aparecer quando clicar em Cadastrar*/
    opacity:0;
	pointer-events: none;
}

/*Quando clicar no Cadastrar irá ativar a janela mudando a opacidade para 1*/
.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal > div {
    width: 400px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 0px;
    background: rgb(255, 255, 255);
}

h2 {
    text-align: center;
    text-decoration: underline;
    margin: 5% 0 0 0;
}

.voltar {
    background: #606061;
	color: #FFFFFF;
	line-height: 25px;
    position: absolute;
    right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
    font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.voltar:hover { background: #00d9ff; }

.concluir {
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    border: 2px solid #06b406;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    background-color: #06b406;
    color: #ffffff;
    width: 100px;
    height: 20px;
    display: block;
    font-weight: bold;
}

.concluir:hover {
    background: #828382;
    border: 2px solid #5f5f5f;
}

footer {
    height: 8vh;
    width: 100%;
    background: black;
    line-height: 8vh;
    bottom: 0;
    position: fixed;
    text-align: center;
}

img {
    padding: 10px 5px 5px 15px;
}